.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) {
  background-color: #f5f5f5 !important;
  border-top: 1px solid #e5e5e5 !important;
  border-left: 1px solid #e5e5e5 !important;
  border-right: 1px solid #e5e5e5 !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
  margin-bottom: -3px;
  padding: 6px 5px 0px 5px !important;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn {
  display: flex;
  float: left;
  height: 45px;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #dddddd !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  margin-bottom: 7px !important;
  transition: all 0.3s ease;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn.disable {
  cursor: default;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn {
    height: 57px;
  }
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn:after {
  display: flex;
  align-items: center;
  content: attr(aria-label);
  font-weight: 600;
  color: #212121;
  font-size: 12px;
  padding: 5px 18px;
  font-family: "Poppins", sans-serif;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn button {
  padding: 0;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn i {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  border-right: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  .mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn i {
    height: 57px;
    width: 57px;
  }
}

#wp-listing_content-wrap .mce-toolbar-grp .mce-stack-layout > .mce-last {
  border-top: 1px solid #b4b4b4 !important;
  border-left: 1px solid #b4b4b4 !important;
  border-right: 1px solid #b4b4b4 !important;
  background-color: #e7e7e7 !important;
}

#wp-listing_content-wrap .mce-toolbar-grp {
  border-bottom-color: #b4b4b4;
}

#wp-listing_content-wrap .wp-editor-tabs,
#wp-listing_content-wrap #prism-shortcode {
  display: none;
}

#wp-listing_content-wrap #wp-listing_content-editor-container {
  overflow: hidden;
}

#wp-listing_content-wrap .wp-editor-tabs .wp-switch-editor {
  border-top-color: #b4b4b4;
  border-left-color: #b4b4b4;
  border-right-color: #b4b4b4;
}

#wp-listing_content-wrap .wp-editor-container {
  border: 1px solid #b4b4b4 !important;
}

#wp-listing_content-wrap .mce-tinymce .mce-statusbar {
  border-top-color: #b4b4b4;
}

.addlisting-popup-wrap {
  position: fixed;
  z-index: 9992;
  display: flex;
  align-items: center;
  justify-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.addlisting-popup-wrap.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: flex !important;
  z-index: 0;
  width: 0;
  height: 0;
}

.addlisting-popup-wrap:not(.hidden) .addlisting-popup {
  opacity: 1;
}

.addlisting-popup-wrap *, .addlisting-popup-wrap :before, .addlisting-popup-wrap :after {
  box-sizing: border-box;
}

.addlisting-popup {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease 0.05s;
}

.addlisting-popup__close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 13px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addlisting-popup__close:before, .addlisting-popup__close:after {
  content: '';
  width: 21px;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fe6d6d;
  transform: rotate(45deg);
}

.addlisting-popup__close:after {
  transform: rotate(-45deg);
}

.addlisting-popup__header {
  background-color: #212121;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-size: 14px;
  position: relative;
  color: #f8b000;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.addlisting-popup__content {
  padding: 20px 0;
  background-color: #fff;
}

.addlisting-popup__content:after {
  content: '';
  clear: both;
  display: block;
}

.addlisting-popup__content .row {
  margin-left: -5px;
  margin-right: -5px;
}

.addlisting-popup__content .row [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.addlisting-popup__form,
.addlisting-popup__preview {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .addlisting-popup__form,
  .addlisting-popup__preview {
    padding-left: 0;
    padding-right: 0;
  }
}

.addlisting-popup__form {
  width: 100%;
}

@media (min-width: 567px) {
  .addlisting-popup__form {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .addlisting-popup__actions #listgo-cancel-event,
  .addlisting-popup__actions #listgo-create-event {
    width: 100%;
    margin: 0;
  }
}

.addlisting-popup__actions #listgo-cancel-event {
  margin-bottom: 10px;
}

.addlisting-popup__preview {
  display: none;
}

@media (min-width: 567px) {
  .addlisting-popup__preview {
    display: block;
    width: 40%;
  }
}

.addlisting-popup__preview-img {
  border: 5px solid #dfdfdf;
}

.addlisting-popup__preview-img img {
  width: 100%;
}

.addlisting-popup__plus {
  display: block;
  background-color: #212121;
  font-weight: 600;
  line-height: 42px;
  width: 42px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  color: #f8b000;
}

.addlisting-popup__plus:hover {
  color: #212121;
  background-color: #f8b000;
}

.addlisting-popup__field {
  margin-bottom: 20px;
  position: relative;
}

.addlisting-popup__field .addlisting-popup__field-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #5a5b5c;
}

.addlisting-popup__field input[type="text"],
.addlisting-popup__field input[type="tel"],
.addlisting-popup__field input[type="email"],
.addlisting-popup__field input[type="url"], .addlisting-popup__field textarea,
.addlisting-popup__field input[type="time"],
.addlisting-popup__field input[type="date"] {
  width: 100%;
  box-shadow: none;
  height: 42px;
  padding: 0 15px;
  line-height: 40px;
}

.addlisting-popup__field input[type="time"] {
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addlisting-popup__field textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: normal;
  height: auto;
}

.addlisting-popup__nav {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
}

.addlisting-popup__nav .addlisting-popup__plus {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.addlisting-popup__nav a {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  height: 42px;
  display: flex;
  align-items: center;
  font-weight: 700;
  border: 1px solid #b4b4b4;
  padding-right: 20px;
  padding-left: 25px;
  border-radius: 5px;
  color: #212121;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 5px;
  position: relative;
}

.addlisting-popup__nav a:focus {
  outline-width: 0;
  text-decoration: none;
  box-shadow: none;
}

.addlisting-popup__nav a.active {
  color: #212121;
  text-decoration: none;
  background-color: #f8b000;
  border-color: #f8b000;
}

.addlisting-popup__nav a.active:hover {
  color: #212121;
}

.addlisting-popup__nav a:hover {
  color: #f8b000;
  border-color: #f8b000;
}

.addlisting-popup__nav .addlisting-popup__nav-remove {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #212121;
  border-radius: 2px;
  color: red;
  transition: all 0.3s ease;
}

.addlisting-popup__nav .addlisting-popup__nav-remove:hover {
  color: red;
}

.addlisting-popup__nav .addlisting-popup__nav-remove:after, .addlisting-popup__nav .addlisting-popup__nav-remove:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-top: 1px solid;
  transform: rotate(45deg);
}

.addlisting-popup__nav .addlisting-popup__nav-remove:before {
  transform: rotate(-45deg);
}

.addlisting-popup__group {
  border: 1px solid #dbdbdb;
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.addlisting-popup__group .addlisting-popup__field {
  margin-bottom: 10px;
}

.addlisting-popup__upload {
  border: 2px dashed #b4b4b4;
  display: flex;
  width: 100%;
  padding: 35px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: center center;
}

.addlisting-popup__upload[style*="background-image"] p {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.addlisting-popup__upload[style*="background-image"]:hover {
  background-image: none !important;
}

.addlisting-popup__upload[style*="background-image"]:hover p {
  opacity: 1;
  visibility: visible;
}

.addlisting-popup__upload:hover {
  border-color: #f8b000;
}

.addlisting-popup__upload p {
  font-size: 14px;
  color: #9d9d9d;
  text-align: center;
  margin-bottom: 0;
}

.addlisting-popup__upload p strong {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  color: #212121;
}

.wiloke-event-package td > label {
  position: absolute;
  height: 100%;
  width: 20000px;
  top: 0;
  left: 0;
  z-index: 9;
  display: block;
  max-width: none;
  cursor: pointer;
}

.addlisting-popup__content {
  max-height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: auto;
}

.addlisting-popup__content label {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #212122;
  font-size: 16px;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload {
  width: calc(100% - 10px);
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload:before {
  content: none;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item {
  width: calc(25% - 10px);
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item:before {
  padding-top: 100%;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload {
  width: calc(25% - 10px);
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload:before {
  content: '';
  padding-top: 100%;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload p {
  display: none;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:before, .addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after {
  content: '';
  width: 21px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #000;
  transition: all 0.3s ease;
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after {
  transform: rotate(90deg);
}

.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:before, .addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:after {
  background-color: #f8b000;
}

.addlisting-popup__actions {
  text-align: right;
  padding: 15px 20px;
  background-color: #f4f4f4;
  border-top: 1px solid #dddddd;
}

.addlisting-popup__actions .addlisting-popup__btn {
  margin-right: 4px;
}

.addlisting-popup__actions .addlisting-popup__btn:last-child {
  margin-right: 0;
}

.addlisting-popup__btn {
  min-width: 160px;
  font-size: 16px;
  padding: 12px 30px;
  text-align: center;
  background-color: #dddddd;
  font-family: "Poppins", sans-serif;
  color: #212121;
  border-width: 0;
  font-weight: 600;
  transition: all 0.3s ease;
}

.addlisting-popup__btn i {
  position: relative;
  top: 2px;
}

.addlisting-popup__btn.primary {
  background-color: #f5af02;
}

.addlisting-popup__btn:hover {
  color: #fff;
  background-color: #212121;
}

.addlisting-popup__radio {
  margin: 0;
}

.addlisting-popup__radio input {
  display: none;
}

.addlisting-popup__radio input:checked ~ span {
  border-color: #51c939;
}

.addlisting-popup__radio input:checked ~ span:before {
  display: block;
}

.addlisting-popup__radio span {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  position: absolute;
  cursor: pointer;
  margin: auto;
  left: 25px;
  top: 0;
  bottom: 0;
}

.addlisting-popup__radio span:before {
  content: '';
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #51c939;
  border-radius: 50%;
}

.addlisting-popup__radio:hover span {
  border-color: #51c939;
}

#wiloke-event-settings .addlisting-popup {
  max-width: none;
  transform: none;
  visibility: visible;
  opacity: 1;
}

#wiloke-event-settings .wiloke-event-package,
#wiloke-event-settings .wiloke-event-settings,
#wiloke-event-settings .wiloke-event-method {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1010px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transform: translate(-50%, -50%) translateX(15vw);
  visibility: hidden;
  will-change: transform, opacity, visibility;
  transition: all 0.4s ease;
}

#wiloke-event-settings .wiloke-event-package.prev,
#wiloke-event-settings .wiloke-event-settings.prev,
#wiloke-event-settings .wiloke-event-method.prev {
  transform: translate(-50%, -50%) translateX(-15vw);
  opacity: 0;
  visibility: hidden;
}

#wiloke-event-settings .wiloke-event-package.active,
#wiloke-event-settings .wiloke-event-settings.active,
#wiloke-event-settings .wiloke-event-method.active {
  z-index: 2;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

#wiloke-event-settings .wiloke-event-package.active + *, #wiloke-event-settings .wiloke-event-package.active + *.prev, #wiloke-event-settings .wiloke-event-package.active ~ *.active,
#wiloke-event-settings .wiloke-event-settings.active + *,
#wiloke-event-settings .wiloke-event-settings.active + *.prev,
#wiloke-event-settings .wiloke-event-settings.active ~ *.active,
#wiloke-event-settings .wiloke-event-method.active + *,
#wiloke-event-settings .wiloke-event-method.active + *.prev,
#wiloke-event-settings .wiloke-event-method.active ~ *.active {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) translateX(15vw);
  z-index: 1;
}

@media (max-width: 767px) {
  #wiloke-event-settings .wiloke-event-package,
  #wiloke-event-settings .wiloke-event-settings,
  #wiloke-event-settings .wiloke-event-method {
    padding-left: 0;
    padding-right: 0;
  }
}

.wiloke-event-settings .addlisting-popup__content {
  padding-left: 15px;
  padding-right: 15px;
}

.wiloke-event-settings .addlisting-popup__form {
  width: 100%;
}

.wiloke-event-settings .addlisting-popup__form .row {
  margin-left: -15px;
  margin-right: -15px;
}

.wiloke-event-settings .addlisting-popup__form .row [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.wiloke-event-package .addlisting-popup__content {
  padding: 20px;
}

@media (min-width: 767px) {
  .wiloke-event-package .addlisting-popup__content {
    padding: 30px 30px 30px 30px;
  }
}

@media (min-width: 992px) {
  .wiloke-event-package .addlisting-popup__content {
    padding: 25px 40px 35px 40px;
  }
}

.addlisting-popup__package {
  border: 1px solid #dddddd;
  width: 100%;
}

@media (min-width: 768px) {
  .addlisting-popup__package tr {
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .addlisting-popup__package tr:hover {
    background-color: #f9f9f9;
  }
  .addlisting-popup__package tr:hover .addlisting-popup__package-action input:checked + span {
    border-color: #51c939;
  }
}

.addlisting-popup__package tr.active .addlisting-popup__package-action a {
  background-color: #f5af02;
}

.addlisting-popup__package tr:first-child td {
  border-top-width: 0;
}

.addlisting-popup__package td {
  position: relative;
  padding: 30px 25px;
  border-top: 1px solid #dddddd;
}

.addlisting-popup__package .addlisting-popup__package-price-currency,
.addlisting-popup__package .addlisting-popup__package-price-amount,
.addlisting-popup__package .addlisting-popup__package-price-time,
.addlisting-popup__package .addlisting-popup__package-price-slash {
  font-family: "Poppins", sans-serif;
}

.addlisting-popup__package .addlisting-popup__package-price-td {
  white-space: nowrap;
}

.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-currency {
  font-size: 24px;
  font-weight: 600;
  margin-right: 3px;
  line-height: 1;
}

.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-amount {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}

.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-slash {
  color: #bababa;
}

.addlisting-popup__package .addlisting-popup__package-description {
  width: 100%;
}

.addlisting-popup__package .addlisting-popup__package-description strong {
  color: #212121;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.addlisting-popup__package .addlisting-popup__package-description p {
  margin-bottom: 0;
}

.addlisting-popup__package .addlisting-popup__package-action {
  padding-left: 30px;
  min-width: 80px;
}

.addlisting-popup__package .addlisting-popup__event-payment {
  display: block;
  width: 100%;
  padding: 0;
  border-bottom-width: 0;
}

.addlisting-popup__package .addlisting-popup__event-payment.active {
  border-bottom-width: 1px;
}

.addlisting-popup__package .addlisting-popup__event-payment.active .addlisting-popup__event-method {
  display: block;
}

@media (max-width: 767px) {
  .addlisting-popup__package {
    display: block;
  }
  .addlisting-popup__package tr, .addlisting-popup__package td, .addlisting-popup__package tbody {
    display: block;
  }
  .addlisting-popup__package td {
    width: 100% !important;
    text-align: right;
    padding: 10px 20px !important;
  }
  .addlisting-popup__package td label {
    display: block;
    left: auto;
    right: 0;
  }
  .addlisting-popup__package td label span {
    left: auto;
    right: 20px;
  }
  .addlisting-popup__package .addlisting-popup__package-action {
    background-color: #f1f1f1;
    padding: 0 !important;
  }
  .addlisting-popup__package .addlisting-popup__package-action:before {
    content: attr(data-title);
    display: block;
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 20px !important;
  }
  .addlisting-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-currency {
    font-size: 20px;
  }
  .addlisting-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-amount {
    font-size: 34px;
  }
  .addlisting-popup__package .addlisting-popup__package-price-td:before,
  .addlisting-popup__package .addlisting-popup__package-description:before {
    content: attr(data-title) ":";
    font-family: "Poppins", sans-serif;
    float: left;
    color: #212121;
    font-weight: 600;
    margin-right: 15px;
  }
  .addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-description,
  .addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price,
  .addlisting-popup__package .addlisting-popup__package-description .addlisting-popup__package-description,
  .addlisting-popup__package .addlisting-popup__package-description .addlisting-popup__package-price {
    overflow: hidden;
  }
  .addlisting-popup__package .addlisting-popup__package-description strong {
    display: none;
  }
  .addlisting-popup__package .addlisting-popup__package-name {
    overflow: hidden;
  }
}

.wiloke-event-method tr {
  display: block;
}

.wiloke-event-method tr.active .addlisting-popup__package-form {
  display: block;
}

.wiloke-event-method .addlisting-popup__content {
  padding: 20px;
}

@media (min-width: 767px) {
  .wiloke-event-method .addlisting-popup__content {
    padding: 30px 30px 30px 30px;
  }
}

@media (min-width: 992px) {
  .wiloke-event-method .addlisting-popup__content {
    padding: 25px 40px 35px 40px;
  }
}

.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit {
  border: 1px solid #dddddd;
  color: #ff7010;
  border-radius: 6px;
  padding: 6px 20px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit i {
  width: 22px;
  line-height: 22px;
  background-color: #ff7010;
  color: #fff;
  border-radius: 50%;
  padding: 4px;
  margin-right: 3px;
}

.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit:hover {
  border-color: #ff7010;
}

@media (min-width: 768px) {
  .wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit {
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.wiloke-event-method .addlisting-popup__package-form {
  width: 100%;
  padding-top: 0;
  display: none;
}

.listg-event-msg,
#listg-event-msg {
  margin-bottom: 10px;
  font-style: italic;
}

.listg-event-msg:empty,
#listg-event-msg:empty {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .listg-event-msg,
  #listg-event-msg {
    float: left;
    width: 45%;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.wiloke-event-method__form {
  text-align: left;
  padding-top: 15px;
  clear: both;
}

.wiloke-event-method__form .profile-actions {
  display: block;
}

.wiloke-event-method__form .profile-actions .listgo-btn {
  display: inline-block;
}

.page-template-addlisting .mce-toolbar-grp.gallery-active {
  opacity: 0;
  visibility: hidden;
}

#ui-datepicker-div,
.pac-container {
  z-index: 9993;
}

#wpadminbar {
  z-index: 9991;
}
