// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand_color:       #83c7e4;
$text_white_color:       #fff;
$text_grey_color:       #666;
$text_black_color:       #111;

$h1-font-size: 5.5rem !default;
$h2-font-size: 4rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;
