// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


$h1-font-size: 5.5rem !default;
$h2-font-size: 4rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;
