@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
    font-family: 'Gill Sans Hel';
    src: url('../fonts/GillSansHel-Light.eot');
    src: url('../fonts/GillSansHel-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-Light.woff2') format('woff2'),
        url('../fonts/GillSansHel-Light.woff') format('woff'),
        url('../fonts/GillSansHel-Light.ttf') format('truetype'),
        url('../fonts/GillSansHel-Light.svg#../fonts/GillSansHel-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel SemCon';
    src: url('../fonts/GillSansHel-SemConBold.eot');
    src: url('../fonts/GillSansHel-SemConBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-SemConBold.woff2') format('woff2'),
        url('../fonts/GillSansHel-SemConBold.woff') format('woff'),
        url('../fonts/GillSansHel-SemConBold.ttf') format('truetype'),
        url('../fonts/GillSansHel-SemConBold.svg#../fonts/GillSansHel-SemConBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('../fonts/GillSansHel-Demi.eot');
    src: url('../fonts/GillSansHel-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-Demi.woff2') format('woff2'),
        url('../fonts/GillSansHel-Demi.woff') format('woff'),
        url('../fonts/GillSansHel-Demi.ttf') format('truetype'),
        url('../fonts/GillSansHel-Demi.svg#../fonts/GillSansHel-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel SemCon';
    src: url('../fonts/GillSansHel-SemConRegular.eot');
    src: url('../fonts/GillSansHel-SemConRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-SemConRegular.woff2') format('woff2'),
        url('../fonts/GillSansHel-SemConRegular.woff') format('woff'),
        url('../fonts/GillSansHel-SemConRegular.ttf') format('truetype'),
        url('../fonts/GillSansHel-SemConRegular.svg#../fonts/GillSansHel-SemConRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('../fonts/GillSansHel-Regular.eot');
    src: url('../fonts/GillSansHel-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-Regular.woff2') format('woff2'),
        url('../fonts/GillSansHel-Regular.woff') format('woff'),
        url('../fonts/GillSansHel-Regular.ttf') format('truetype'),
        url('../fonts/GillSansHel-Regular.svg#../fonts/GillSansHel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('../fonts/GillSansHel-Bold.eot');
    src: url('../fonts/GillSansHel-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansHel-Bold.woff2') format('woff2'),
        url('../fonts/GillSansHel-Bold.woff') format('woff'),
        url('../fonts/GillSansHel-Bold.ttf') format('truetype'),
        url('../fonts/GillSansHel-Bold.svg#../fonts/GillSansHel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
