#wpadminbar {
  display: none;
}
.test {
 border: 1px solid red;
}
.test3 {
 border: 1px solid yellow;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Gill Sans Hel', sans-serif;
font-weight: 300;
font-size: 0.8889rem;
letter-spacing: .055rem;
line-height: 1.6rem;
text-rendering: optimizelegibility;
}

a {
    color: $color-black;
}

ul {
  list-style-type: none;
}
