// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-columns:      12;
$grid-gutter-width: 20px;

$color-black:       #000;
$navbar-light-color:                rgba($color-black,1) !default;
