// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

#contactFormSection  input, #contactFormSection textarea {
    padding: 9px;
    border: dotted 2px #66FFFF;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
    margin-top: 10px;

    }

#contactFormSection  textarea {
    width: 500px;
    height: 150px;
    line-height: 150%;
    }

#contactFormSection  input:hover, #contactFormSection textarea:hover,
#contactFormSection input:focus, #contactFormSection textarea:focus {
    border-color: #3399FF;
    }

#contactFormSection  label {
    margin-left: 10px;
    color: #999999;

    }

#contactFormSection  button {
    width: auto;
    padding: 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    float:right;
    margin-top: 10px;
 }

 .modal-body {
   padding: 0px;
 }

 .contact-left {
   background: url(../images/form_arrow.svg) 100% 15% no-repeat !important;
   padding: 2rem;
 }

  .contact-left h1 {
    font-family: 'Brandon Grotesque Regular', sans-serif;
    font-size: 1.8rem;
  }

  .contact-left h2 {
    font-family: 'Brandon Grotesque Light', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }
  .form_contact {
    padding: 40px;
  }

  .phone {
    background: url(../images/form_phone_1.svg) 0% 0% no-repeat !important;

  }

 .contact-right {
   background-color: $brand-primary;
 }
