.widget_calendar {
	table {
		width: 100%;
		table-layout: fixed;

		caption {
			text-align: center;
		    font-weight: 700;
		    text-transform: uppercase;
			@extend %font-title;
			@extend %color-title;
		}

		td, th {
			border: 1px solid #e5e5e5;
			padding: 5px;
			text-align: center;
		}

		a {
			@extend %color-primary;
		}
	}
}