@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@font-face {
	font-family: 'Brandon Grotesque Light';
	src: url('../fonts/BrandonGrotesque-Light.eot');
	src: url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque Black';
	src: url('../fonts/BrandonGrotesque-Black.eot');
	src: url('../fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Black.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque Bold';
	src: url('../fonts/BrandonGrotesque-Bold.eot');
	src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Bold.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	src: url('../fonts/BrandonGrotesque-Medium.eot');
	src: url('../fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque Thin';
	src: url('../fonts/BrandonGrotesque-Thin.eot');
	src: url('../fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Thin.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque ThinItalic';
	src: url('../fonts/BrandonGrotesque-ThinItalic.eot');
	src: url('../fonts/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-ThinItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque LightItalic';
	src: url('../fonts/BrandonGrotesque-LightItalic.eot');
	src: url('../fonts/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-LightItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque BoldItalic';
	src: url('../fonts/BrandonGrotesque-BoldItalic.eot');
	src: url('../fonts/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-BoldItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url('../fonts/BrandonGrotesque-Regular.eot');
	src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
		url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-RegularItalic.eot');
	src: url('../fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-BlackItalic.eot');
	src: url('../fonts/BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-BlackItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/BrandonGrotesque-MediumItalic.eot');
	src: url('../fonts/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BrandonGrotesque-MediumItalic.woff') format('woff'),
		url('../fonts/BrandonGrotesque-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}


@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/hinted-ProximaNova-BoldIt.eot');
	src: url('../fonts/hinted-ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-BoldIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-BoldIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/hinted-ProximaNova-Extrabld.eot');
	src: url('../fonts/hinted-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Extrabld.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt it';
	src: url('../fonts/hinted-ProximaNova-LightIt.eot');
	src: url('../fonts/hinted-ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-LightIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-LightIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/hinted-ProximaNovaCond-Regular.eot');
	src: url('../fonts/hinted-ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-Regular.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-Regular.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bo';
	src: url('../fonts/hinted-ProximaNova-Bold.eot');
	src: url('../fonts/hinted-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Bold.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/hinted-ProximaNovaCond-Semibold.eot');
	src: url('../fonts/hinted-ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-Semibold.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-Semibold.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/hinted-ProximaNova-Regular.eot');
	src: url('../fonts/hinted-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Regular.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/hinted-ProximaNova-RegularIt.eot');
	src: url('../fonts/hinted-ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/hinted-ProximaNova-Black.eot');
	src: url('../fonts/hinted-ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Black.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Black.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Smb';
	src: url('../fonts/hinted-ProximaNova-Semibold.eot');
	src: url('../fonts/hinted-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/hinted-ProximaNova-RegularIt.eot');
	src: url('../fonts/hinted-ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Smb it';
	src: url('../fonts/hinted-ProximaNova-SemiboldIt.eot');
	src: url('../fonts/hinted-ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-SemiboldIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-SemiboldIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/hinted-ProximaNovaCond-SemiboldIt.eot');
	src: url('../fonts/hinted-ProximaNovaCond-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-SemiboldIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-SemiboldIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-SemiboldIt.svg#ProximaNovaCond-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/hinted-ProximaNova-Light.eot');
	src: url('../fonts/hinted-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNova-Light.woff') format('woff'),
		url('../fonts/hinted-ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/hinted-ProximaNovaCond-Light.eot');
	src: url('../fonts/hinted-ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-Light.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-Light.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-Light.svg#ProximaNovaCond-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/hinted-ProximaNovaCond-LightIt.eot');
	src: url('../fonts/hinted-ProximaNovaCond-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-LightIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-LightIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-LightIt.svg#ProximaNovaCond-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/hinted-ProximaNovaCond-RegularIt.eot');
	src: url('../fonts/hinted-ProximaNovaCond-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-ProximaNovaCond-RegularIt.woff') format('woff'),
		url('../fonts/hinted-ProximaNovaCond-RegularIt.ttf') format('truetype'),
		url('../fonts/hinted-ProximaNovaCond-RegularIt.svg#ProximaNovaCond-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}
