header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px;
  }
}

.logo-main {
  padding: 20px 20px 40px 20px;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $color-black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.menu-icon {
  width: 20px;
  height: auto;
}
