$font-base : 'Open Sans', sans-serif !default;
$font-title: 'Poppins' , sans-serif !default;
$font-subtitle: 'Lora', serif !default;

// $color-primary : #f5af02 !default;
$color-primary : #f5af02 !default;
$color-subprimary : #e57171 !default;
$color-secondary: #e57171 !default;

$color-white: #ffffff !default;
$color-black: #000 !default;
$color-title: #212122 !default;
$color-base: #5a5b5c !default;
$color-gray--2: #e5e5e5 !default;
$color-gray--3: #b3b3b5 !default;
$color-border: #dfdfdf !default;
$color-blue: #8ed6e5 !default;
$color-red: #f08989 !default;



