
.main {
  padding: 120px 0
}

.navbar {
  padding: 3.5rem 0rem;
  transition: padding .5s;
}

.scrolled-nav {
  background: $dark;
  padding: .5rem 0rem;
  transition: padding .5s;
}


.jumbotron {
  padding: 0px;
}
/* Header Parallax Element Style*/
.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}
/* Paragraph for Parallax Section */
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
color: rgba(255, 255, 255, 1);
font-family: 'Dual-300', sans-serif;
font-size: 3.5rem;
letter-spacing: 5px;
text-align: center;
line-height: 50px;
}
.paral h2 {
color: $brand-red;
font-family: 'Dual-300', sans-serif;
font-size: 1.5rem;
letter-spacing: 3px;
text-align: center;
line-height: 60px;
}
/* Image for Parallax Section */
.paralsec {
background: url(../images/hero_01.jpg) no-repeat;
background-size: 100% 80%;
}

.paralsec1 {
background: url("https://img.webnots.com/2017/05/parallax1.jpg");
}

.paralsec2 {
background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
  margin: -120px 0 0 0;
  padding: 180px 0 0;
}

/* Add more images for more sections */
.jumbotron-fluid {
  background: url(../images/hero_01.jpg) 10px 10px no-repeat !important;

}

.jumbotron h3 {
  color: #FFF;
  font-family: 'HelveticaNeue-Bold', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  // padding: 0rem 0rem 0 4rem;
  text-transform: uppercase;
}

.jumbotron h5 {
  color: #FFF;
  font-family: 'HelveticaNeue-UltraLight', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
//  padding: 0rem 0rem 0 4rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.jumbotron h6 {
  color: #FFF;
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  // padding: 0rem 0rem 0 4rem;
  text-transform: uppercase;
}

.car_slider {
  padding: 5rem 0 3rem 0;
}
.carinslider {
  padding: 4rem 0 0 0 ;
}

.booking_form {
  height: 1px;
}

.carousel-control-prev,
.carousel-control-next  {
  align-items: flex-start;
}
.cars-slider_item-option {
  width: 100%;
  background-size: 38px !important;
  min-height: 38px;
  margin: .5rem 0 0;
}
.cars-slider_item-option h5 {
  padding: .7rem 0 0 3rem;
  font-size: 1rem;
}
.car-option-doors {
  background: url(../images/attributes_doors.svg) 0px 0px no-repeat !important;
}

.car-option-passengers {
  background: url(../images/attributes_passengers.svg) 0px 0px no-repeat !important;
}

.car-option-luggage {
  background: url(../images/attributes_luggage.svg) 0px 0px no-repeat !important;
}

.car-option-tansmission {
  background: url(../images/attributes_tansmission.svg) 0px 0px no-repeat !important;
}

.car-option-air-conditioning {
  background: url(../images/attributes_aircondition.svg) 0px 0px no-repeat !important;
}
.carousel-item h3 {
  font-size: 3rem;
}

.car_slider_seperator {
  width: 85px;
  height: 12px;
margin-bottom: .5rem;
background-color: $brand-red;
}

.day {
  font-size: 1rem;
  font-family: 'HelveticaNeue-UltraLight', sans-serif;

}

.services {
  background-color: $bg-grey;
  background-image: url(../images/section_arrow_w.svg)  ;
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 11rem 0 11rem 0;
}

.services h2 {
  color: rgba(0, 0, 0, 1);
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
//  padding: 4rem;
  text-decoration: underline;
}
.underline {
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  border-bottom: 4px solid $brand-red;
}

.underline_no {
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;

}

.underline_2 {
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.underline_under {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1rem;
}
.services_icons {
  padding: 4rem 0 0 0;
}

.services_text {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 4rem;

}


.map {
  background-color: $brand-red;
    padding: 0.7rem;
}

.customer_center {
  padding: 4rem;
}

.customer_center_box {
  border: 4px solid $brand-red;
}

.person {
  margin-right: -32px;
margin-top: -70px;
}

.support {
  padding: 3rem;
}

.support_name {
  font-family: 'HelveticaNeue-Bold', sans-serif;
  font-size: 1.4rem;
  letter-spacing:0.03rem;
  line-height: 1rem;

}

.support_title {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  letter-spacing:0.03rem;
  line-height: 1rem;
}

.support_sep {
  width: 30px;
height: 5px;
margin: 15px 0;
background-color: $brand-red;
}

.support_phone {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 1rem;
  letter-spacing:0.03rem;
  line-height: 1rem;
}
