.nav a h1 {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: .92em;
  text-rendering: optimizelegibility;
}

.nav a h2 {
font-size: .67rem;
}


.header-content blockquote p {
  font-family: 'Open Sans ExtraBold', 'OpenSans-ExtraBold', sans-serif;
  font-size: 3.1em;
  letter-spacing: -.1rem;
  line-height: 4.5rem;
  text-rendering: optimizelegibility;
}

.header-content .blockquote-footer {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: .9em;
  letter-spacing: .015rem;
  line-height: 2.9rem;
  text-rendering: optimizelegibility;
}
