.test {
  border: 1px solid red;
  //background-color: red;
}


body {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: 1em;
  letter-spacing: .015rem;
  line-height: 1.9rem;
  text-rendering: optimizelegibility;

}

.top {
  min-height: 40vh;
}
.portfolio {
  min-height: 90vh;
}

.logo {
  width: 50px;
  height: auto;
}

.bg-image1 {
  background-image: url(../assets/images/store1.jpg)
}

.bg-image2 {
  background-image: url(../assets/images/store2.jpg)
}

.bg-image-fog {
  background-image: url(../assets/images/bg_fog.jpg)
}

.bg-image-water {
  background-image: url(../assets/images/bg_water.jpg)
}

.bg-image-jungle {
  background-image: url(../assets/images/jungle1.jpg)
}
.card {
  border: 0px solid rgba(0, 0, 0, .125);
}
.grid-item-content {
  background: #fff;
  border-radius: 2px;
//  display: inline-block;
  //height: 300px;
  //margin: 1rem;
  position: relative;
  //width: 300px;
  border: 0px solid rgba(0, 0, 0, .125);

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.grid-item-content:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}

.facetwp-color {
    display: inline-block;
  //  margin: 0 12px 12px 0;
  //  box-shadow: 1px 2px 3px #ccc;
  //  width: 300px;
  //  height: 100px;
    cursor: pointer;
}

.facetwp-color.checked::after {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    width: 16px;
    height: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 8px 0 0 6px;
}

.facetwp-color h3 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: .9em;
  letter-spacing: .015rem;
  line-height: 2.9rem;
  text-rendering: optimizelegibility;
}


.entry-summary h1 {
  font-family: 'Open Sans Light', 'OpenSans-Light', sans-serif;
  font-size: 1em;
  letter-spacing: .01rem;
  line-height: 2.9rem;
  text-rendering: optimizelegibility;

}



.product_description p {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 1.5em;
  letter-spacing: .05rem;
  line-height: 2.5rem;
  text-rendering: optimizelegibility;
}

.experience-content h1 {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.1em;
    text-rendering: optimizelegibility;
  margin-bottom: .5rem;
font-family: inherit;
font-weight: 800;
line-height: 1.1;
}

.btn-primary.active {
  text-decoration: line-through;
}
.navbar .btn {
  margin-left:15px;
}
