// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;



$sizes: (
  5: 05%,
  10: 10%,
  25: 25%,
  50: 50%,
  75: 75%,
  95: 95%,
  100: 100%
) !default;

$modal-lg:                   85%;
