// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-red:        #f10009;
$bg-grey:          #f2f2f2;
$bg-grey-form:      #efefef;
$border-grey-form:  #d6d6d6;
$dark:            #131819;
$white:           #ffffff;
