.ico {
  height: 23px;
  width: auto;
      background: rgba(163,164,170,0.2)!important;
}


.nav-icons {
  padding: .25rem 1rem 0 0;
}

.grammi {
  font-family: "cfastystd-light-webfont", sans-serif;
}


.wind_panel {
  padding: 15rem 10rem 0 10rem;
}

.wind {
  width: 155px;
  height: auto;
}

.bubble_all {
  width: 175px;
  height: auto;
  margin: 1rem 0 0 .28rem;
}

.boy {
  width: 354px;
  height: auto;
}

.girl {
  width: 354px;
  height: auto;
}
