@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
    font-family: 'Gill Sans Hel';
    src: url('GillSansHel-Light.eot');
    src: url('GillSansHel-Light.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-Light.woff2') format('woff2'),
        url('GillSansHel-Light.woff') format('woff'),
        url('GillSansHel-Light.ttf') format('truetype'),
        url('GillSansHel-Light.svg#GillSansHel-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel SemCon';
    src: url('GillSansHel-SemConBold.eot');
    src: url('GillSansHel-SemConBold.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-SemConBold.woff2') format('woff2'),
        url('GillSansHel-SemConBold.woff') format('woff'),
        url('GillSansHel-SemConBold.ttf') format('truetype'),
        url('GillSansHel-SemConBold.svg#GillSansHel-SemConBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('GillSansHel-Demi.eot');
    src: url('GillSansHel-Demi.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-Demi.woff2') format('woff2'),
        url('GillSansHel-Demi.woff') format('woff'),
        url('GillSansHel-Demi.ttf') format('truetype'),
        url('GillSansHel-Demi.svg#GillSansHel-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel SemCon';
    src: url('GillSansHel-SemConRegular.eot');
    src: url('GillSansHel-SemConRegular.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-SemConRegular.woff2') format('woff2'),
        url('GillSansHel-SemConRegular.woff') format('woff'),
        url('GillSansHel-SemConRegular.ttf') format('truetype'),
        url('GillSansHel-SemConRegular.svg#GillSansHel-SemConRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('GillSansHel-Regular.eot');
    src: url('GillSansHel-Regular.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-Regular.woff2') format('woff2'),
        url('GillSansHel-Regular.woff') format('woff'),
        url('GillSansHel-Regular.ttf') format('truetype'),
        url('GillSansHel-Regular.svg#GillSansHel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Hel';
    src: url('GillSansHel-Bold.eot');
    src: url('GillSansHel-Bold.eot?#iefix') format('embedded-opentype'),
        url('GillSansHel-Bold.woff2') format('woff2'),
        url('GillSansHel-Bold.woff') format('woff'),
        url('GillSansHel-Bold.ttf') format('truetype'),
        url('GillSansHel-Bold.svg#GillSansHel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
