#wpadminbar {
  display: none;
}
.test {
 border: 1px solid red;
}
.test3 {
 border: 1px solid yellow;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Gill Sans Hel', sans-serif;
font-weight: 300;
font-size: 0.8889rem;
letter-spacing: .055rem;
line-height: 1.6rem;
text-rendering: optimizelegibility;
}
a {
    transition:all 200ms;
}

li {
    cursor : pointer;
}
.active {
    color : red;
    font-size: 2rem;

}

.checkhere {
    font-weight : bold;
}
.menu-text {
  text-transform: uppercase;
}

.navbar-toggler {
  font-size: .9rem;
    border: 0px solid transparent;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
font-weight: 700;
  font-size: 1rem;

}

.navbars-title {
  font-family: 'Roboto', sans-serif;
font-weight: 400;
  font-size: 1rem;
}

.ion-bag {
  font-size: 1.7rem;
}

.ion-person  {
  font-size: 1.7rem;

}
li.ico-shop {
  background: url(../images/ico-shop.svg) 0% 0% no-repeat !important;
  background-size: 23px !important;
  min-height: 23px;
}


section.intro-split {
  min-height: 65vh;
}
.right-image {
  min-height: 100vh;
}

.slideshow .slider .item img.right-image {
      transform: translate(-50%,-6%);
}

section.intro {
  min-height: 65vh;
}

ol.carousel-indicators {
  margin-bottom: 0rem;
}
.carousel-indicators img {
  margin: 1px 0 0 0;
}
.carousel-indicators {
  bottom: 0px;
  margin-right: 0;
  margin-left: 0;
//  opacity: .5;
}

.carousel-indicators .active {
  opacity: .5;
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    color: black;
}

.top-black {
  background: #000;
  min-height: 30px;
}
.second-nav {
  margin-top: 30px;
}
 h1 {
   font-family: 'Roboto', sans-serif;
font-weight: 700;
   font-size: 4rem;
   //text-transform: uppercase;
 }

.collections-left {
  padding-top: 14rem;
}
 .header {
   border-top: 1px solid $color-black;
   border-bottom: 1px solid $color-black;
   font-family: 'Libre Baskerville', serif;
   font-size: 4rem;
   padding: 0.8rem;
 }
 .journal {
   margin: 4rem 0 4rem 0 ;
   max-height: 80vh;
   min-height: 80vh;
 }

 .journal h2 {
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
  // font-weight: bold;
 }

 .journal figure {
   //padding: 2rem 2rem 2rem 0;
   vertical-align: top;
 }

 .journal figure {
   padding: 0rem 2rem 0rem 0;
   vertical-align: top;
 }

.journal img {
padding: 0 .1rem;
  vertical-align: top;
}

.paralax {
  min-height: 40vh;
}

.paralax h1 {
  color: $color-black;
  padding: 0rem;

}


.conect {
margin:4rem 0 8rem 0;;
}

.conect label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9444rem;
  font-weight: 700;
  margin-bottom: 0rem;
  text-transform:uppercase;
}

.conect .social {
  background: url(../images/social_mockup.jpg) 50% 0% no-repeat !important;
  background-size: 181px !important;
  min-height: 51px;
}

.conect input {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-size: .8rem;
  color: $color-black;
  border-radius: 0rem;
    margin-bottom: 1rem;
}
/* Header Parallax Element Style*/
.paralax {
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}
footer {
  font-size: .6rem;
  position: absolute;
  bottom: 0;
  margin-top: 10rem;
}



span.Shop {
        font-family: "Ionicons";
        content: "\f3d1";
}

.collections {
  min-height: 100vh;
}
