// Grid settings
$main-sm-columns:       24;
$sidebar-sm-columns:    4;

$grid-columns:      24;
$grid-gutter-width: 40px;

$color-black:       #000;
$navbar-light-color:                rgba($color-black,1) !default;
