// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


.textbox {
  height: 700px;
}



.progress {
  background-color: transparent;
border-radius: .1rem;
}

.progress-bar {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: 1.1em;
      color: $black;
      padding: 0rem 0 1rem 0;
}

.progress-bar.bg-info:after {
    background-color: #ccc;
        height: .1rem;
}

.progress-bar.bg-info {
    border-bottom-color: #007;
}
