.wil_accordion  {
	margin-bottom: 30px;
}

.wil_accordion__header {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px;
	position: relative;
	@extend %transition-all-03s-ease;

	&:after {
		content: '';
		position: absolute;
		left: 0;
	}

	a {
		display: block;
		transition: none;

		&:hover, &:focus {
			color: inherit;
		}
	}
}

.wil_accordion__content {
	display: none;
	margin-bottom: 20px;

	&.active {
		display: block;
	}
}

.wil_accordion--1 {
	
	.wil_accordion__header {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 20px;
		padding-left: 35px;

		a {

			&:before {
				content: '';
				border-radius: 50%;
				width: 16px;
				height: 16px;
				top: 2px;
				position: absolute;
				left: 0;
				padding: 3px;
				background-clip: content-box;
				border: 2px solid #9a9b9c;
				@extend %transition-all-03s-ease;
			}
		}

		&:hover a {

			&:before {
				@extend %border-primary;
			}
		}

		&.active {
			margin-bottom: 12px;
			@extend %color-primary;
			@extend %border-bottom-primary;

			a:before {
				@extend %border-primary;
				@extend %bg-primary;
			}
		}
	}

	.wil_accordion__content {
		padding-left: 35px;
		padding-bottom: 15px;
		padding-top: 5px;
		margin-left: 7px;
		border-left: 1px solid #e5e5e5;

		p:last-child {
			margin-bottom: 0;
		}
	}
}
