.wil-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: none;
	transition: all 0.3s ease;
}

.wil-modal--open {
	display: block;

	&.wil-modal--fade, 
	&.wil-modal--zoom {
		opacity: 1;
		visibility: visible;
	}

	&.wil-modal--zoom {
		transform: scale(1);
	}
}

.wil-modal--fade {
	opacity: 0;
	visibility: hidden;
	display: block;
}

.wil-modal--zoom {
	opacity: 0;
	visibility: hidden;
	display: block;
	transform: scale(0.5);
}

.wil-modal__wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	padding: 20px 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	-webkit-overflow-scrolling: touch;

	@media(min-width: 768px) {
		padding:20px 30px;
	}
}

.wil-modal__overlay {
	z-index: -1;
	background-color: rgba(#000, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.wil-modal__content {
	margin: auto;
	position: relative;
	max-width: 100%;

	.wil-modal__close {
		position: absolute;
		top: 0;
		right: -47px;
		display: none;

		@media(min-width: 480px) {
			display: block;
		}
	}
}

.wil-modal__close {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 47px;
	height: 47px;
	cursor: pointer;
	text-indent: -9999px;
	background-color: #fff;

	&:after, &:before {
		content: '';
		height: 1px;
		width: 20px;
		position: absolute;
		background-color: #fe6d6d;
		margin: auto;
		@extend %transition-all-03s-ease;
		@extend %absolute-box;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:before {
		transform: rotate(-45deg);
	}
}

// Report
.report-form {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 30px;
	width: 1000px;

	@media(min-width: 600px) {
		max-width: 500px;
	}
}

// Maginific
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	backface-visibility: hidden;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-bg {
	z-index: 99998;
}

.mfp-wrap {
	z-index: 99999;
	.mfp-arrow {
		width: 60px;
    	height: 60px;
    	line-height: 60px;
    	margin-top: -30px;
    	font-weight: normal;
    	text-align: center;
    	opacity: 1;
    	transition: all 0.3s ease;
    	@extend %color-white;

    	&:after {
    		content: none;
    	}

    	&:before {
    		padding: 0;
    		font-size: 42px;
    		margin: 0;
    		border-width: 0;
    		opacity: 1;
    		position: static;
    		width: auto;
    		height: auto;
    		font-family: 'ElegantIcons';
    		
    		color: inherit;
    	}

    	&:hover {
    		@extend %color-primary;
    	}

    	&.mfp-arrow-left:before {
    		content: '\23';
    	}

    	&.mfp-arrow-right:before {
    		content: '\24';
    	}
	}

	.mfp-figure figure {
		position: relative;

		.mfp-bottom-bar {
			bottom: 40px;
			margin-top: 0;
			padding: 10px;
			line-height: 1.6em;
			top: auto;
			padding-right: 60px;
			background-color: rgba(#000, 0.5);

			@media(min-width: 768px) {
				padding: 20px;
			}
		}

		.mfp-counter {
			position: absolute;
			right: 20px;
			font-size: 16px;
			top: 50%;
			transform: translateY(-50%);
			@extend %color-primary;
		}
	}
}

.claim-form {
    width: 500px;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 0;
    max-width: 100%;

    div.wil-modal__close {
    	background-color: transparent;
    	right: 0;
    }

    .claim-form-content {
    	padding: 20px;

    	@media(min-width: 567px) {
    		padding: 30px;
    	}
		
		label {
			font-weight: 600;
			@extend %color-title;
		}
    	input[type=email], input[type=file], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    		height: 42px;
    		border-radius: 2px;
    		line-height: 40px;
    	}

    	input[type="submit"] {
    		width: 100%;
		    height: 42px;
		    line-height: 42px;
		    padding-top: 0;
		    padding-bottom: 0;
		    border-radius: 2px;
    	}
    }
}

.claim-form-title {
	margin: 0;
	font-size: 18px;
	background-color: #212121;
	padding: 15px 20px;
	font-size: 14px;
	@extend %color-primary;
	
	@media(min-width: 567px) {
		padding: 20px 30px;
	}
}

// ads popup
.ads-pop-up {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999999;
	background-color: rgba(#000, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.ads-pop-up-content-wrap {
	max-width: 970px;
	padding: 30px;
	width: 100%;
	position: relative;
}

.ads-pop-up-content {
	text-align: center;
	background: #191919 url(../img/dashbroad/2.jpg) no-repeat center center;
	background-size: cover;
	padding: 90px 12%;
	z-index: 1;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		right: 10px;
		left: 10px;
		bottom: 10px;
		z-index: -2;
		border: 1px dashed #474747;
	}

	&:after {
		content: '';
		background-color: rgba(#000, 0.4);
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.ads-pop-up-desc {
	font-size: 20px;
	line-height: 1.7em;
	color: #e3e3e3;
	margin-bottom: 20px;
}

.ads-pop-up-logo {
	margin-bottom: 30px;
}

.ads-pop-up-links {
	a {
		background-color: #040707;
		color: #fff;
		white-space: nowrap;
		display: inline-block;
		padding: 7px 15px;
		border-radius: 10px;
		text-align: left;
		margin: 0 3px;

		i {
			font-size: 40px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		.fa-apple {
			color: #fff;
		}

		.fa-android {
			color: #97c024;
		}

		small {
			display: block;
			font-size: 12px;
			line-height: 1;
		}

		span {
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.ads-popup-close {
	position: absolute;
	right: 20px;
	top: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;

	&:before, &:after {
		content: '';
		height: 1px;
		width: 20px;
		display: block;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: red;
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}