.main {
  padding: 120px 0;
}

.section-head {
  padding-bottom: 80px;
  font-family: 'Brandon Grotesque Thin', sans-serif;
  font-size: 1.3125rem;
  letter-spacing: .025rem;
  text-transform: uppercase;
  background: url(../images/arrow_down-01.svg) 50% 40% no-repeat;
}


.portfolio_info {
  padding: 0 0 2rem 2rem;
}

.content_text {
  background: url(../images/close.svg) 98% 1% no-repeat;

}
