.btn-primary {
  background-color: $brand-red;
border-color: $brand-red;

color: $white;
font-family: 'Dual-600', sans-serif;
font-size: 1.5rem;
letter-spacing: 1px;
text-align: center;
line-height: 2.5rem;
}
